{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Portfolio Ithalo Sousa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="{%static 'css/main.css' %}">

</head>

<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="{%static 'img/logo.png'%}" alt="Global">
    <p>Ithalo Sousa</p>
  </a>
  <p class="device-notification--message">Global has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img src="{%static 'img/dev.png' %}" alt="Global">
            <p>Ithalo Sousa</p>
          </a>
          <button class="header--cta cta">Me contrate</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>Trabalhos</span></li>
            <li><span>Contato</span></li>
            <li><span>Me contrate</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Dev<br>Back-end<br></h1>
                <button class="cta">Me contrate
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
                <img src="{%static 'img/introduction-visual.jpeg'%}" alt="Welcome">
              </div>

            </div>
          </li>
          <li class="l-section section">
            <div class="work">
              <h2>Sistema de gerenciamento educacional para o Centro Educacional de Floriano. (EM DESENVOLVIMENTO)</h2>
            
              <div class="work--lockup">
                  <ul class="slider">
                      <li class="slider--item slider--item-left">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="{%static 'img/logo2.jpg'%}" alt="Victory">
                      </div>
                      <p class="slider--item-title">cefedu.com.br</p>
                      <p class="slider--item-description">Sistema de gerenciamento educacional para o Centro Educacional de Floriano. (EM DESENVOLVIMENTO)</p>
                    </a>
                  </li>
                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="contact">
              <div class="contact--lockup">
                <div class="modal">
                  <div class="modal--information">
                    <p>Floriano-PI, Brasil</p>
                    <a href="mailto:ouremail@gmail.com">ithalodev@gmail.com</a>
                    <a href="tel:+148126287560">+89 99421-0520</a>
                  </div>
                  <ul class="modal--options">
                    <li><a href="#0">Whatsapp</a></li>
                    <li><a href="#0">Instagram</a></li>
                    <li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <li class="l-section section" id="contato">
            <div class="hire">
              <h2>O que você deseja fazer</h2>
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request">
                <div id="loading-spinner" class="loader"></div>
                <div class="work-request--options">
                  <span class="options-a">
                    <input id="opt-1" type="checkbox" value="app design">

                    <input id="opt-2" type="checkbox" value="graphic design">

                    <input id="opt-3" type="checkbox" value="motion design">
                  </span>
                  <span class="options-b">
                    <input id="opt-4" type="checkbox" value="API REST">
                    <label for="opt-4">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      API REST
                    </label>
                    <input id="opt-5" type="checkbox" value="APP WEB">
                    <label for="opt-5">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      APP WEB
                    </label>
                    <input id="opt-6" type="checkbox" value="INTEGRAÇÃO DE PAGAMENTO ">
                    <label for="opt-6">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      INTEGRAÇÃO DE PAGAMENTO 
                    </label>
                    <input id="opt-7" type="checkbox" value="AUTOMAÇÃO DE TAREFAS">
                    <label for="opt-7">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      AUTOMAÇÃO DE TAREFAS
                    </label>
                  </span>
                </div>
                <div class="work-request--information">
                  <div class="information-name">
                    <input id="name" type="text" spellcheck="false">
                    <label for="name">Nome</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Email</label>
                  </div>
                  <div class="information-email">
                    <input id="mensagem" type="text" spellcheck="false">
                    <label for="mensagem">Mensagem</label>
                  </div>
                </div>
                <input type="submit" value="Enviar">
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>Trabalhos</li>
    <li>Contato</li>
    <li>Me contrate</li>
  </ul>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Verifique se o cookie começa com o nome do token CSRF
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  
  $(document).ready(function() {
    $(".work-request").submit(function(event) {
      event.preventDefault(); 
      var formData = {
        'nome': $('#name').val(),
        'email': $('#email').val(),
        'mensagem': $('#mensagem').val(),
        'options': [] 
      };
      console.log(formData);
  
      $('.work-request--options input[type=checkbox]:checked').each(function() {
        formData['options'].push($(this).val());
      });
      var csrfToken = getCookie('csrftoken');

      $.ajax({
        type: 'POST',
        url: '{% url "meContrate" %}',
        data: JSON.stringify(formData),
        contentType: 'application/json',
        headers: {
        'X-CSRFToken': csrfToken
        },
        success: function(response) {
          $('.work-request')[0].reset();
        
          alert('Mensagem enviada com sucesso!')

          console.log('Sucesso:', response);
        },
        error: function(error) {
          console.error('Erro:', error);
        }
      });
    });
  });
  </script>
  

<script>window.jQuery || document.write('<script src="{%static "js/vendor/jquery-2.2.4.min.js"%}"><\/script>')</script>
<script src="{%static 'js/functions-min.js'%} "></script>





</body>
</html>
